@font-face {
  font-family: CenturyGothic; 
  src: url(https://www.axis-praxis.org/fonts/webfonts/MutatorSans.ttf)
}
@keyframes pjanim {
  0% {
    color: yellow;
    font-size: 10px;
    font-variation-settings: "wght" 300, "wdth" 300; 
  }
  100% {
    color: BLUE;
    font-size: 150px;
    font-variation-settings: "wght" 800, "wdth" 800;  
  }
}

@keyframes pjanim1 {
  0% {
    color: #E8DE80;
    font-size: 100px;
    font-variation-settings: "wght" 800, "wdth" 800; 
  }
  100% {
    color: BLUE;
    font-size: 100px;
    font-variation-settings: "wght" 800, "wdth" 800;  
  }
}

body {
  color: #E8DE80; 
  font-size: 50px; 
  font-family: CenturyGothic;
  text-align: center; 
  background-color: #A01212;
  
  }

h1 {
  color: #A01212;
  font-size: 90px; 
  text-align: center; 
  font-family: CenturyGothic;
  background-color: #E8DE80; 
  animation: 10s infinite pjanim;
}


h2 { 
color: #E8DE80; }

h3{
  font-size:100px;
  animation: 10s infinite pjanim1;
}