@font-face {
  font-family: MyFont; 
  src: url(https://madina009.github.io/canteenfontGX.ttf);
}
@keyframes pjanim {
  0% {
    color: yellow;
    font-size: 50px;
    font-variation-settings: "wght" 300, "wdth" 300; 
  }
  100% {
    color: BLUE;
    font-size: 150px;
    font-variation-settings: "wght" 800, "wdth" 2000;  
  }
}

@keyframes pjanim1 {
  0% {
    color: #E8DE80;
    font-size: 100px;
    font-variation-settings: "wght" 50, "wdth" 800; 
  }
  100% {
    color: #4547CC;
    font-size: 100px;
    font-variation-settings: "wght" 800, "wdth" 800;  
  }
}

body {
  color: #D91D25; 
  font-size: 15px; 
  font-family: Arial;
  text-align: left; 
  background-color: #FF99AC;
  
  }

h1 {
  color: white;
  font-size: 40px; 
  text-align: center; 
  font-family: Arial;
}

h2 { color: #D91D25; 
  font-size: 15px; 
  font-family: Arial;
  text-align: left;
  margin-left: 100px;
}

h3 { color: #D91D25; 
  font-size: 15px; 
  font-family: Arial;
  text-align: right;
  margin-right: 100 px;
}

h4{
  color: #D91D25; 
  font-size: 15px; 
  font-family: Arial;
  text-align: center;
} 
  
h5{
  font-family: MyFont; 
  font-size:100px;
  text-align: center; 
  animation: 10s infinite pjanim1;
} 

a {
  text-decoration: none;
  color: #D91D25;
}